.nfe-quote {
	position: relative;
	font-size: 24px;
}

.nfe-quote-text {
	color: #000;
	border-left: 4px solid #99f;
	margin-left: 15px;
	padding-left: 15px;
	width: 87.5%;
}

.nfe-quote-source {
	color: #999;
}

/* This hides the news feed before the JS kicks in */
div[id^='explorefeed_main_stream'],
div[id^='topnews_main_stream'],
div.ticker_stream,
div.ego_column,
#pagelet_home_stream,
#pagelet_trending_tags_and_topics,
#stories_pagelet_rhc,
#fb_stories_card_root,
#pagelet_games_rhc,
#pagelet_canvas_nav_content {
	opacity: 0 !important;
	pointer-events: none !important;
}

div[id='2x-container'] {
	opacity: 0;
}

div[id='secondary-inner'], div[id='page-manager'] {
  opacity: 0;
}
